html{
    font-size:62.5%;
    margin:0;
    padding:0;
}

body{
    padding:0;
    margin:0;
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size:3.6rem;
}

h2{
    font-size:2.4rem;
}

span{
    display:block;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
input{
    display:block;
    font-size:2.4rem;
    font-family: 'Poppins', sans-serif;
}

input[type="text"]{
    background-color: rgba(255, 255, 255, 0.8);
    border:none;
    outline:none;
}

input[type="checkbox"]{
    width:2.1rem;
    height:2.1rem;
}
button{
   margin-left:1.4rem;
   width:12.6rem;
   font-size:2.4rem;
   background-color:#A62323;
   border:none;
   cursor:pointer;
   outline:none;
   color:white;
   font-family: 'Poppins', sans-serif;
   font-weight:300;
}

button:focus{
    outline: lightblue solid 3px;
}
label{
    font-size:2.4rem;
    display:flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.toolbar{
    display:flex;
    justify-content: center;
    margin:0 auto;
}

.container{
    width:80vw;
    margin:0 auto;
    text-align:center;
}
.icon{
    cursor:pointer;
}

.delete-icon{
    color:red;
}

.edit-icon{
    color:white;
}

.move-icon{
    cursor:move;
}

.todo-list{
    width:60%;
    margin: 2rem auto;

}
.todo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding:1rem;
    margin: 2rem 0;
    transition: opacity 1s ease-in;
}

.todo .content{
    font-size:2.4rem;
    font-weight: 300;
    display:flex;
    justify-content: space-between;
    flex-basis:75%;
}

.options{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid white;
    padding:1rem;
    flex-basis:20%;
}


input.edit-input{
    width:75%;
}

button.edit-button{
    background-color: teal;
}

.error-message{
    display:none;
    color:red;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display:none;
    background-color: rgba(0,0,0,0.5);
  }
.editing-content{
    z-index:15;
}

/* label.finished-label{
    display:none;
} */